[absorb]
	maxStack=50 # Or any other reasonable value for your project

[user]
	name = Ludo
	email = lchopin+github@gmail.com
#	name = Ludovic Chopin
#	email = ludo-c@users.noreply.github.com

# include only if a remote with the given URL exists (note
# that such a URL may be provided later in a file or in a
# file read after this file is read, as seen in this example)
#[includeIf "hasconfig:remote.*.url:gitsrv*"]
#	path = ~/.gitconfig_wyplay
#[includeIf "hasconfig:remote.*.url:git@gitlab.wyplay.com"]
#	path = ~/.gitconfig_wyplay

[includeIf "gitdir:~/workspace/"]
	path = ~/.gitconfig_wyplay

[includeIf "gitdir:~/ratafia/"]
	path = ~/.gitconfig_wyplay

[includeIf "gitdir:~/opt/wyplay/"]
	path = ~/.gitconfig_wyplay

[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
[alias]
	f = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	ci = commit
	co = checkout
	st = status -u
	br = branch
	gr = log --graph --decorate --pretty=oneline --abbrev-commit
	last = log -1 HEAD
	webui = !~/.git-webui/release/libexec/git-core/git-webui
	logg = log --pretty=oneline --abbrev-commit --graph
# http://stackoverflow.com/questions/231211/using-git-how-do-i-find-changes-between-local-and-remote
	out = log @{u}..
	in = log ..@{u}
	sha = rev-parse HEAD
	git = !exec git
	g = !exec git
	kdiff = difftool --tool kdiff3 --dir-diff
[webui]
	autoupdate = true
[gui]
	spellingdictionary = en
[core]
	editor = vim
#	pager = cat
[push]
	default = simple
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[mergetool "kdiff"]
	cmd = kdiff3 -b $BASE $LOCAL $REMOTE -o $MERGED

[url "git@gitlab.wyplay.com"]
	insteadOf = "gitsrv"
[init]
	defaultBranch = main
