[submodule "urxvt/.urxvt/ext/perls"]
	path = urxvt/.urxvt/ext/perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "urxvt/.urxvt/ext/tabbedex"]
	path = urxvt/.urxvt/ext/urxvt-tabbedex
	url = https://github.com/mina86/urxvt-tabbedex.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:ludo-c/prezto.git
[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/.config/awesome/keyboard_layout"]
	path = awesome/.config/awesome/keyboard_layout
	url = https://github.com/echuraev/keyboard_layout.git
