[submodule "urxvt/.urxvt/ext/perls"]
	path = urxvt/.urxvt/ext/perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "urxvt/.urxvt/ext/tabbedex"]
	path = urxvt/.urxvt/ext/urxvt-tabbedex
	url = https://github.com/mina86/urxvt-tabbedex.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/ludo-c/prezto.git
